.btn {
  font-family: $primary-font;
  font-size: .875em;
  font-weight: 700;
  padding: 0.715em 2.857em;

  &--empty-dark {
    background-color: rgba(255,255,255,.15);
    color: #000;
    border: 1px solid #000;
  }

  &--empty-light {
    background-color: rgba(0,0,0,.15);
    color: #fff;
    border: 1px solid #fff;
  }
}

.btn-group {
  display: flex;
  
  .btn {
    width: 100%;
    margin-right: $b-space;
    padding-right: 0;
    padding-left: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-play {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 26%;
  transform: translate(-50%,-50%);
  opacity: 0.75;
  transition: width .2s ease, opacity .2s ease;

  @media #{$breakpoint-not-small} {
    width: 20%;

    &:hover {
      opacity: 1;
      width: 21%;
    }
  }

  &__circle {
      fill: none;
      stroke: #fff;
      stroke-miterlimit: 10;
      stroke-width: 8px;
  }

  &__polygon {
      fill: #fff;
  }

  &--secondary {
    .btn-play__circle {
      stroke: #000;
    }

    .btn-play__polygon {
      fill: #000;
    }
  }
}