/* Fool-proof @font-face */
/* Based on http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/ */
/* updated to https://alistapart.com/article/using-webfonts */

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.woff2') format('woff2'),
           url('#{$file-path}.woff') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

// Core Sans
@include font-face(SansD-Regular, '../fonts/coresans/2E0F5C_0_0', 400, normal);

// Core Sans Bold
@include font-face(SansD-Regular, '../fonts/coresans/2E0F5C_3_0', 700, normal);

// Core Sans Condensed Regular
@include font-face(SansD-Cn-Regular, '../fonts/coresans/2E0F5C_1_0', 400, normal);

// Core Sans Condensed Bold
@include font-face(SansD-Cn-Regular, '../fonts/coresans/2E0F5C_4_0', 700, normal);

//Nudista
@include font-face(Nudista, '../fonts/nudista/nudista_medium', 400, normal);

//Nudista Light
@include font-face(Nudista, '../fonts/nudista/nudista_light', 100, normal);

//Nudista Bold
@include font-face(Nudista, '../fonts/nudista/nudista_bold', 700, normal);