// *************************************
//
//   Config
//   App-Wide Varibles
//
// *************************************

// -------------------------------------
//   Breakpoints
// -------------------------------------

$screen-sm: 521px;
$screen-md: 768px;
$screen-lg: 1025px;
$screen-xl: 1440px;