// *************************************
//
//   Config
//   App-Wide Varibles
//
// *************************************

// -------------------------------------
//   Breakpoints
// -------------------------------------

$breakpoint-not-small: '(min-width: 32.5625em)';
$breakpoint-medium: '(min-width: 48em)';
$breakpoint-large: '(min-width: 64em)';

// -------------------------------------
//   Fonts
// -------------------------------------

$sans-serifCN:    "SansD-Cn-Regular", sans-serif;
$sans-serif:      "SansD-Regular", sans-serif;
$nudista:					"Nudista", sans-serif;
$opensans:				"Open Sans", sans-serif;

// -------------------------------------
//   Colors
// -------------------------------------

	$aqua: #02BBD5;
	$yellow: #FED100;
	$black: #222a2b;
	$white: #fff;
	$light-grey: #e5e5e5;

// -------------------------------------
//   Sizes
// -------------------------------------

$b-space:           1em;

