// *************************************
//
//   Config
//   App-Wide Varibles
//
// *************************************

// -------------------------------------
//   Everything border-box
// -------------------------------------

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// -------------------------------------
//   Breakpoints
// -------------------------------------

$screen-sm: 521px;
$screen-md: 768px;
$screen-lg: 1025px;
$screen-xl: 1440px;

// -------------------------------------
//   Fonts
// -------------------------------------
$sans-serifCN:    "SansD-Cn-Regular", sans-serif;
$sans-serif:      "SansD-Regular", sans-serif;
$icons:           "Icons", sans-serif;

$primary-font:     $sans-serifCN;
$secondary-font:   $sans-serif;

// -------------------------------------
//   Sizes
// -------------------------------------

$b-space:           1em;

