/* Fool-proof @font-face */
/* Based on http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/ */

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff2') format('woff2'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

// Core Sans
@include font-face(SansD-Regular, '../fonts/coresans/2E0F5C_0_0', 400, normal);

// Core Sans Bold
@include font-face(SansD-Regular, '../fonts/coresans/2E0F5C_3_0', 700, normal);

// Core Sans Condensed Regular
@include font-face(SansD-Cn-Regular, '../fonts/coresans/2E0F5C_1_0', 400, normal);

// Core Sans Condensed Bold
@include font-face(SansD-Cn-Regular, '../fonts/coresans/2E0F5C_4_0', 700, normal);

//Nudista
@include font-face(Nudista, '../fonts/nudista/nudista_medium', 400, normal);

//Nudista Light
@include font-face(Nudista, '../fonts/nudista/nudista_light', 100, normal);

//Nudista Bold
@include font-face(Nudista, '../fonts/nudista/nudista_bold', 700, normal);

// -------------------------------------
//   Base typography styles
// -------------------------------------

body {
  @include lifeproof {
    font-family: $sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  @include otterbox {
    font-family: $opensans;
    -webkit-font-smoothing: antialiased;
  }
}

h1,h2,h3,h4,h5,h6 {
  @include lifeproof {
    font-family: $sans-serifCN;
    font-weight: 700;
  }

  @include otterbox {
    font-family: $nudista;
    font-weight: 400;
  }
}