// *************************************
//
//   Typography styles
//
// *************************************

body {
  @include lifeproof {
    font-family: $sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  @include otterbox {
    font-family: $opensans;
    -webkit-font-smoothing: antialiased;
  }
}

h1,h2,h3,h4,h5,h6 {
  @include lifeproof {
    font-family: $sans-serifCN;
    font-weight: bold;
    letter-spacing: .17em;
  }

  @include otterbox {
    font-family: $nudista;
  }
}