// *************************************
//
//   Utility classes
//
// *************************************

// -------------------------------------
//   Color
// -------------------------------------

.white { color: $white; }

@media #{$breakpoint-medium} {
	.white-m { color: $white; }
}

.black { color: $black; }

// -------------------------------------
//   Background color
// -------------------------------------

.bg-light-grey { background-color: $light-grey; }

// -------------------------------------
//   Text add-ons
// -------------------------------------

.asterisk-before {
	&:before {
		content: '*';
		vertical-align: super;
		font-size: .8em;
	}
}

.asterisk-after {
	&:after {
		@extend .asterisk-before:before;
	}
}