// *************************************
//
//   Utility classes
//
// *************************************

// -------------------------------------
//   Margin
// -------------------------------------

.mb {
  margin-bottom: $b-space;
}

.mr {
  margin-right: $b-space;
}

.mt {
  margin-top: $b-space;
}