.t-full {
  position: relative;

  &__wrap {
    padding: 2.125em;
    text-align: center;  
    
    @media (min-width: $screen-md) {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 4.125em;
      text-align: left;

      &--center-top {
        justify-content: center;
        text-align: center;
      }

      &--right-top {
        justify-content: flex-end;
        text-align: right;
      }

      &--center-center {
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      &--left-center {
        align-items: center;
      }

      &--right-center {
        justify-content: flex-end;
        align-items: center;
        text-align: right;
      }

      &--center-bottom {
        justify-content: center;
        align-items: flex-end;
        text-align: center;
      }

      &--left-bottom {
        align-items: flex-end;
      }

      &--right-bottom {
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
      }
    }
  }

  &__article {
    @media (min-width: $screen-md) {
      max-width: 370px;

      &--light {
        color: #fff;
      }
    }
  }

  &__heading {
    font-weight: 700;
    letter-spacing: .08em;
    text-transform: uppercase;
  }

  &__copy {
    letter-spacing: .09em;
    line-height: 1.25;

    @media (min-width: $screen-md) {
      font-size: 0.875em;
    }
  }
}