.t-full {
  position: relative;
  @include border-box;

  &__img {
    display: block;
    width: 100%;
  }

  &__wrap {
    
    @media #{$breakpoint-medium} {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      &--center-top {
        justify-content: center;
      }

      &--right-top {
        justify-content: flex-end;
      }

      &--center-center {
        justify-content: center;
        align-items: center;
      }

      &--left-center {
        align-items: center;
      }

      &--right-center {
        justify-content: flex-end;
        align-items: center;
      }

      &--center-bottom {
        justify-content: center;
        align-items: flex-end;
      }

      &--left-bottom {
        align-items: flex-end;
      }

      &--right-bottom {
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }

  &__article {
    @media #{$breakpoint-medium} {

      &--light {
        color: $white;
      }
    }
  }

  &__heading {
    letter-spacing: .08em;
    text-transform: uppercase;
  }

  &__copy {
    letter-spacing: .09em;
    line-height: 1.25;

    @media #{$breakpoint-medium} {
      font-size: 0.875em;
    }
  }
}