.t-tiles {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  @include border-box;

  &:after {
    content: '';
    flex: 0 0 32.5%;
  }

  @media #{$breakpoint-medium} {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__tile {
    position: relative;
    flex: 0 0 32.5%;

    img {
      display: block;
      width: 100%;
    }
  }

  &__media {
    position: relative;
    display: block;

    &:hover {
      .btn-play {
        width: 21%;
        opacity: 1;
      }
    }
  }

  &__article {

    h4 {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .18em;
    }
  }
}



/* Modifiers */

.t-tiles--padded {
  &:after {
    flex: 0 0 30%;
  }

  @media #{$breakpoint-medium} {
    .t-tiles__tile {
      flex: 0 0 30%;
    }    
  }
}

.t-tiles--fit {
  &:after {
    display: none;
  }
  .t-tiles__tile {
    @media #{$breakpoint-medium} {
      flex: 1;
    }
  }
}